* {
    box-sizing:border-box;
    margin: 0;
    padding:0;
    font-size:16px;
    font-family: Arial;
    font-weight: 700;
}
.search01 {
    
    margin: auto;
    padding:0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: Black;
    text-decoration:none ;
}

table {
    margin:auto;
    width: 800px;
    padding:20px;
    border-radius:10px;
    
}

.RegTable {
    margin:auto;
    width: 800px;
    padding:20px;
    border-radius:10px;
    box-shadow: 0px 0px 30px grey;
}


.navLogo{
    width:150px;
    background:#24252A;
}

.navButton {
    padding: 9px 25px; 
    background-color: rgba(0,136,169,1); 
    border:none; 
    border-radius: 50px; 
    cursor: pointer;
}


li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration:none ; 
}

navButton:hover {
    
}

body {
}

header {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration:none
}
footer {
    text-align:center;
    position:fixed;
    bottom: 37px;
    width:100%;
    margin: auto;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration:none;
    left: 0px;
}