<?xml version="1.0"?>


<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="debi2ConnectionString" connectionString="Data Source=DESKTOP-EIVVAPF;Initial Catalog=debi2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="debi2ConnectionString2" connectionString="Data Source=DESKTOP-EIVVAPF;Initial Catalog=debi2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1034/HotelDetailsWeb.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>
